/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --background: #eaeaea;
  --border: #c2c2c2;
}

.App {
  background-color: var(--background);
  min-height: 100vh;
}
.container {
  display: grid;
  justify-content: center;
  gap: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  font-size: 45px;
}
.search {
  width: 300px;
  display: flex;
  justify-self: center;
  padding: 10px;
  border-radius: 40px;
  border: var(--border) solid 1px;
}

form {
  display: grid;
  position: relative;
}

textarea {
  width: 900px;
  height: 200px;
  padding: 20px;
  border: var(--border) solid 1px;
  position: relative;
}

.error-message {
  border: 2px solid red;
  padding: 10px 15px;
  border-radius: 10px;
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px 10px 0 0;
}
.colors div:last-child {
  position: relative;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -100px;
  padding: 20px;
}

.footer button {
  padding: 10px 30px;
  background-color: green;
  color: white;
  border: unset;
  border-radius: 20px;
  text-transform: uppercase;
  z-index: 99;
}
.colors {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.colors div {
  display: flex;
  align-items: center;
}

.colors div input {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.colors div label {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  display: block;
}

.colors div input#pink + label {
  background-color: pink;
}

.colors div input#purple + label {
  background-color: purple;
}

.colors div input#yellow + label {
  background-color: yellow;
}

.colors div input#blue + label {
  background-color: blue;
}

.colors div input#green + label {
  background-color: green;
}

.colors div input:checked + label::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  left: 10px;
  top: 6px;
  opacity: 0.5;
  width: 5px;
  height: 10px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  color: #000000ce;
}

/* notes */

.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.notes li {
  padding: 20px;
  box-sizing: border-box;
  border: var(--border) solid 1px;
}

.notes li p {
  white-space: pre-wrap;
  word-break: break-word;
}
